$background-color: linear-gradient(to bottom right, #8099E9, #C292DE, #E99DCB);
$primary-color: #171430;
$secondary-color: #8099E9;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight: (
    "small": 400,
    "medium": 600,
    "large": 800
);