@import "variables";
@import "config";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: $font-family;
    color: set-color($primary-color);
    background: $primary-color;
}

.login {
    margin: 10px;
    border-radius: 10px;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: 10% 30% 10% 10%;
    justify-content: center;
    align-content: center;
    background: $background-color;

    p {
        padding: 10px;
        font-size: 2rem;
        font-weight: map-get($font-weight, large);
        text-align: center;
    }

    fieldset {
        margin: 20px 10px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background: rgba(set-color($primary-color), 0.1);

            input {
                border: none;
                font-size: 1rem;
                color: set-color($primary-color);
                background: transparent;
            }
    }

    button {
        margin: 10px;
        border: none;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: map-get($font-weight, medium);
        color: set-color($primary-color);
        background: rgba($primary-color, 0.2);
        cursor: pointer;
    }
}

.option {
    margin: 10px;

    a {
        font-size: 1.5rem;
        font-weight: map-get($font-weight, medium);
        @include link;
    }
}