$body-color: #000;
$content-color: gray;
$text-color: #fff;
$hover-color1: yellow;
$hover-color2: rgb(238, 164, 238);
$mobile-width: 1000px;
$font-weight: (
    "small": 400,
    "medium": 600,
    "large": 800
);