html {
    font-size: 20px;
}
body {
    background-color: #333;
    color: whitesmoke; 
}
a {
    color: lightyellow;
}
a:visited {
    color: gray;
}
a:hover, a:active {
    color: lightcoral;
}
mark {
    background-color: lightyellow;
    color: black;
}
table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}